/target/
.project
.settings/
**/*.settings/org.eclipse.wst.validation.prefs
service/.settings/org.eclipse.wst.common.component
web/.settings/org.eclipse.wst.common.component
service/.settings/org.eclipse.wst.common.component
core/bin/
service/bin/
core/lib
service/lib
core/mudrod.log*
core/.classpath
core/.externalToolBuilders/Maven_Ant_Builder.launch
core/maven-eclipse.xml
service/.classpath
web/.classpath
storage/lib
storage/.classpath
storage/.externalToolBuilders/Maven_Ant_Builder.launch
storage/.gitignore
storage/maven-eclipse.xml
storage/target
